body {
    background: #e7e1e1;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    background: #e7e1e1;
}

div#headicon{
    display: flex;
    justify-content: flex-end;
}

#search-icon {
    height: 25px;
    width: 25px;
    padding: 2px;
}

button.btn-outline-success{
    padding: 0px 16px;
}

#cart-icon{
    height: 30px;
    width: 30px;
}
h1.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

a.active {
    text-decoration: none;
    color: black;   
}

h2.headingMain{
    display: flex;
    justify-content: center;
}

h3.popular{
    display: flex;
    justify-content: center;
}

.cardFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p.price {
    font-size: 20px;
    margin: 8px 0px 8px;
}

.more {
    display: flex;
    justify-content: center;
    padding: 50px;
}

h2.brendlogo{
    display: flex;
    justify-content: center;
}

div.imlogo {
    display: flex;
    justify-content: space-around;
}

article.aboutus {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
section.footercontain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#footr {
    text-align: center;
}

div#contphone {
    display: flex;
    flex-wrap: nowrap;
}

#phonopic {
    border: 1px solid black;
    width: 30px;
    height: 25px;
    padding: 2px;
    margin: 5px;
}

#phone-number{
    margin: 6px 0px 10px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emailAndPhone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.adress {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 15px;
    align-items: center;
}
#adress {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

@media (max-width:775px) {
    section.footercontain{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    }
    
    form.form-inline{
        display: flex;
        justify-content: center;
    }
}

@media (max-width:1200px) {
    button.btn-outline-success {
        display: none;
    }

    form.form-inline{
        display: flex;
        justify-content: center;
    }
}

@media (min-width:575px) {
    .card.product{
        height: 500px;
    }
}